# Ambiente virtual
.venv_analise/
env/
venv_analise/
*.pyc
*.pyo
__pycache__/

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Configurações de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos de log
*.log

# Dados sensíveis
*.csv
*.xlsx
*.xls
*.json

# Arquivos temporários
*.tmp
*.bak
*.swp
